<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doctor.survey.mapper.SurveyUserRespondentsMapper">

    <resultMap id="BaseResultMap" type="com.doctor.survey.domain.SurveyUserRespondents">
            <id property="user_id" column="user_id" jdbcType="BIGINT"/>
            <id property="respondents_id" column="respondents_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,respondents_id
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from survey_user_respondents
        where  user_id = #{user_id,jdbcType=BIGINT} AND respondents_id = #{respondents_id,jdbcType=BIGINT} 
    </select>
    <select id="getUserIdByRespondentsId" resultType="java.lang.String">
        select user_id
        from survey_user_respondents
        where respondents_id = #{respondents_id,jdbcType=BIGINT}
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from survey_user_respondents
        where  user_id = #{user_id,jdbcType=BIGINT} AND respondents_id = #{respondents_id,jdbcType=BIGINT} 
    </delete>
    <insert id="insert">
        insert into survey_user_respondents
        ( user_id,respondents_id)
        values (#{user_id,jdbcType=BIGINT},#{respondents_id,jdbcType=BIGINT})
    </insert>
    <insert id="insertSelective">
        insert into survey_user_respondents
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="user_id != null">user_id,</if>
                <if test="respondents_id != null">respondents_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="user_id != null">#{user_id,jdbcType=BIGINT},</if>
                <if test="respondents_id != null">#{respondents_id,jdbcType=BIGINT},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.doctor.survey.domain.SurveyUserRespondents">
        update survey_user_respondents
        <set>
        </set>
        where   user_id = #{user_id,jdbcType=BIGINT} AND respondents_id = #{respondents_id,jdbcType=BIGINT} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.doctor.survey.domain.SurveyUserRespondents">
        update survey_user_respondents
        set 
        where   user_id = #{user_id,jdbcType=BIGINT} AND respondents_id = #{respondents_id,jdbcType=BIGINT} 
    </update>
</mapper>
